.game {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.game-area {
  flex: 1;
}

.buttons {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.currentHand {
  display: flex;
  width: 100%;
}

.card-container {
  flex: 1 0 0;
  overflow-x: hidden;
}

.card-container:last-child {
  flex: 0 0 auto;
}

.haf-card {
  width: 100px;
  height: 150px;
}